* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background-color:rgba(23, 23, 23, 0.15);
    padding: 20px;
    position: absolute;
    top: 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
}

header a{
    text-decoration: none;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    color:rgba(255,255,255,0.719);
    font-family: Tahoma;
}

.banner-container {
  
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(red,rgba(6, 72, 105, 0.849), rgb(73,189,235)), url("./images/blue.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-container .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/*left section start*/

.left-section {
    width: 600px;
}

.banner-container  h1 {
    margin: 0;
    font-size: 40px;
    color: white
}

 .banner-container p {
    margin: 0;
    width: 600px;
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.884);
    margin-top: 20px;
    line-height: 28px;
}

.banner-container button {
    color:#2098ca;
    background-color: white;
    font-weight:bold;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}
/*left section end*/

/* right section*/

.right-section {
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 0;
    box-shadow: 0 5px 6px rgba(0,0,0,0.219);
    position:relative;

}

.input-group label{
    color: rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top:20px;
    transition:0.5s ease-in-out;
}

.input-group.input {
    border: none;
    margin-top: 7px;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    color:#2098ca;
    caret: red;
    border-bottom:  1px solid  #c9c9c98a;

}

.right-section h4 {
    font-size:20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color:rgb(136,136,136);
    
}
.input-group {

    width: 300px;
    margin:30px auto;
    display: flex;
    flex-direction: column;
    position:relative;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    color: #2098ca;
    font-size: 14px;
    top:-15px;
    font-size:12px;
}

.input-group input:focus,
.input-group input:valid {
    border-color:#2098ca;
    top:-15px;
    font-size: 12px;
}
.submit-section {
    text-align: center;
    
}

.submit-button{
    background-color: #2098ca;
    color:white;
    border:none;
    padding:10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width:300px;
    cursor:pointer;
}

.submit-button:hover {
    box-shadow: 0 3px 6px silver;
}
.section-two{
    display: flex;
    justify-content: space-evenly;
    height:100vh;
}

.card-conatiner{
    width:350px;
    border-radius:15px;
    box-shadow: 10px 5px 26px rgb(82, 82, 82);
    overflow: hidden;
    text-align: center;
    display:flex;
}



.card-container h1 {
    color: rgb(136, 136,136);
}
.image-container{

    width:100%;
    height: 300px;
    overflow: hidden;
    display:flex;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5sec ease-in-out;
}

.image-container img:hover{
    transform: scale(1.1) rotate(-5deg);
}

.footer {
    text-align:center;
    color: grey;
    padding:15px;
}

footer span {
    color:#2098ca;
    font-weight:bold;

}